body{
  background-color: lightskyblue;
  }

  @media (max-width: 768px) {
  body {
    background-color: rgb(107, 214, 107);
    font-size: 1.5rem;
      }
  .navbar-brand{
    font-size: 1.5rem;
  }
  }
  @media (max-width: 540px) {
    body {
      background-color: rgb(194, 158, 111);
      font-size: 2rem;
    }
    .navbar-brand{
      font-size: 2rem;
    }
  }
